.Rproj.user
.Rhistory
.RData
.Ruserdata
test2.R
mySmoothingTemplate.xlsx
InterpolationTemplate.r
InterpolationTemplate.xlsx
mySmoothingTemplate.r
combined_data.csv
deaths_pop_Brazil.csv
reproduce_error.csv
